:root {
    --wsm-cloud: #CECBC8;
    --wsm-zeus: #28221E;
    --wsm-kabul: #614E41;
    --wsm-shadow: #7F6951;
  }

  .featured h1 {
    color: var(--wsm-shadow);
    font-weight: 600;
    font-size: 1rem;
  }

  @media only screen and (min-width: 374px) and (max-width: 424px)
  {
    .featured h1 {
        font-size: 1rem;
    }
  }
  @media only screen and (min-width: 425px) and (max-width: 767px)
  {
    .featured h1 {
        font-size: 1.2rem;
    }
  }
  @media only screen and (min-width: 768px) and (max-width: 1023px)
  {
    .featured h1 {
        font-size: 2rem;
    }
  }
  @media only screen and (min-width: 1024px)
  {
    .featured h1 {
        font-size: 3rem;
    }
  }