:root {
  --wsm-cloud: #CECBC8;
  --wsm-zeus: #28221E;
  --wsm-kabul: #614E41;
  --wsm-shadow: #7F6951;
}
* {
  padding: 0;
  margin: 0;
  background: var(--wsm-zeus);
  color: var(--wsm-cloud);
}
::-webkit-scrollbar {
  width: 1px;
}
::-webkit-scrollbar-track {
  background: transparent; 
}
::-webkit-scrollbar-thumb {
  background: transparent; 
}
::-webkit-scrollbar-thumb:hover {
  background: transparent; 
}